body
{
    background-color: #6B6A6A;
    font-family:"Segoe UI",Arial,sans-serif;
}

h1
{
    color:white;
    font-size: 69px;
    font-family:"Segoe UI",Arial,sans-serif;
    /*text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;*/
}
h2{
  color:white;
    font-family:"Segoe UI",Arial,sans-serif;
}
p{

}

.form
{
  visibility: hidden;
}

.grid
{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
  "header header"
  "sidebar main"
  "sidebar footer";
}

.main
{
  grid-area: main;
  background-color: grey;
}

.header
{
    grid-area: header;
    background-color: green;
}

.footer
{
    grid-area: footer;
    background-color: red;
}

.sidebar
{
    grid-area: sidebar;
    background-color: black;
}


.img-base
{
    min-width: 200px;
    min-height: 200px;

    max-height: 400px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-avatar
{
    visibility: hidden;
    width: 100px;
    height: 100px;
}

.feedback-box
{
  width: 400px;
  height: 400px;
}

.navbar-ul {
  list-style-type: none;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-li {
  float: left;
}

.navbar-li-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar-li-a:hover {
  background-color: #111;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
